{% extends "admin/base_site.html" %}
{% load static %}

{% block extrahead %}
{{ block.super }}
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">MealCorner {{ user.assigned_group|title  }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
